<script type='text/javascript'>
    $(function () {
        // These settings override the defaults set in application.coffee. You can do this on a per dashboard basis.
        Dashing.widget_base_dimensions = [150, 140]
        Dashing.numColumns = 8
        // Disable the layout drag
    });
</script>

<% content_for :title do %>diabetes dashboard
<% end %>
<div class="gridster">
  <ul>

    <li data-row="0" data-col="0" data-sizex="2" data-sizey="1">
      <div data-id="blood-glucose" data-view="Graph" data-title="Blood-glucose, last 7 days" style="background-color:#ff9618"></div>
    </li>

    <li data-row="0" data-col="3" data-sizex="2" data-sizey="1">
      <div data-id="humalog" data-view="Graph" data-title="Humalog, last 7 days" style="background-color:#ff9618"></div>
    </li>

    <li data-row="2" data-col="0" data-sizex="1" data-sizey="1">
      <div data-id="glucose-daily-average" data-view="Number" data-title="Blood-glucose, average for last 24 hours"></div>
    </li>
  </ul>

</div>